<div style="height:100%; width: 100%;overflow: hidden; margin-bottom:85px">
    <div class="row">
        <div class="col-xs-12" style="margin: 40px 0px 0px 20px;width: 95%;">
            <p>адрес: Сибирская ул., 49, г. Пермь, инд. 614039</p>
            <p>тел.: (342) 244-39-47; 290-28-20</p>
            <p>e-mail:perm-gdp@mail.ru</p>
            <p>Сайт:www.parkperm.ru</p>
        </div>
        <div class="col-xs-12" style="margin: 10px 0px 0px 20px;
  width: 95%;">
            <p>Как проехать:</p>
            <p>Автобусы №: M5, M6, 1, 5, 10, 13, 19, 45, 59, 60, 66, 67, 72, 74, 121, 10 до остановки Кинотеатр "Окрябрь", 63 до остановки ЦПР им.М.Горького</p>
        </div>
        <div class="col-xs-12" style="margin: 10px 0px 0px 20px;
  width: 95%;">
            <p>Тролейбусы №: 1, 5, 7, 12 до остановки Кинотеатр "Окрябрь", 3 до остановки ЦПР им.М.Горького</p>
        </div>
        <div class="col-xs-12" style="margin: 10px 0px 0px 20px;
  width: 95%;">
            <p>Маршрутное такси №: 19, 25Т до остановки Кинотеатр "Окрябрь"</p>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;" ng-hide="!internet">
        <div class="col-xs-12">
            <button class="col-xs-12 btn " style="background-color: #84DA99;color: white;" ng-click="returnDirectionOnMap()">На карте</button>
        </div>
    </div>
</div>
<div class="bottomFixed">
    <div id="backImage" class="backImage" ng-click="returnAbout()"></div>
</div>

